{% extends 'mailings/index.html' %}
{% block content %}

<div class="container mt-4">
    <div class="col-12">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card text-center">
                    <div class="card-header">
                        {% if not object.is_active %}
                        <h3>Рассылка отключена модератором</h3>
                        {% endif %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Тема сообщения</th>
                                <th scope="col">Периодичность</th>
                                <th scope="col">С</th>
                                <th scope="col">По</th>
                                <th scope="col">Время отправки</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ mailing.message }}</td>
                                <td>{{ mailing.periodicity }}</td>
                                <td>{{ mailing.start_mailing }}</td>
                                <td>{{ mailing.end_mailing }}</td>
                                <td>{{ mailing.time_sending }}</td>
                                <td>{{ mailing.status }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body">
                        <h5>Текст сообщения</h5>
                        {{ mailing.message.text }}
                    </div>
                    <div class="card-footer">
                        <h5>Контакты</h5>
                        <ol>
                            {% for client in object.clients.all %}
                            <li>{{ client.email }} - {{ client.name }}</li>
                            {% endfor %}
                        </ol>
                        <div class="btn-group mt-4">
                            <a href="{% url 'mailings:mailing_list' %}" type="submit"
                               class="btn btn-outline-dark">Назад</a>
                            <a class="p-2 btn btn-outline-dark" href="{% url 'mailings:mailing_update' mailing.pk %}">Изменить</a>
                            {% if user == mailing.owner %}
                            <a class="p-2 btn btn-outline-dark" href="{% url 'mailings:mailing_delete' mailing.pk %}">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

{% endblock %}