{% extends 'mailings/index.html' %}
{% block content %}

<div class="container text-center mt-4">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            {% if object %}
                            Редактировать сообщение
                            {% else %}
                            Новое сообщение
                            {% endif %}
                        </h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="btn-group">
                            <button type="submit" class="btn btn-outline-dark">Далее ></button>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </form>
    </div>
</div>

{% endblock %}